footer{
    & .footer{
        font-family: var(--font);
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 30px 0;
        & .logo {
            font-size: 24px;
            font-weight: 500;
        }
        & p{
            margin: 0;
            
        }
    }
}